@import url(./__close_button/popup__close_button.css);
@import url(./__visible/popup__visible.css);
@import url(./__window/popup__window.css);
@import url(./__hidden/popup__hidden.css);
@import url(./__heading/popup__heading.css);
.popup
{
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
  background-color: rgba( 0, 0, 0, 0.5);
}



