@import url(./__close-button/popup__close-button.css);
@import url(./_visible/popup_visible.css);
@import url(./__window/popup__window.css);
@import url(./_hidden/popup_hidden.css);
@import url(./__heading/popup__heading.css);
@import url(./__save/popup__save.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__form/popup__form.css);
@import url(./__info-input/popup__info-input.css);
@import url(./__name-input/popup__name-input.css);

.popup
{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba( 0, 0, 0, 0.5);
}



