@import url(./__avatar/profile__avatar.css);
@import url(./__information/profile__information.css);
@import url(./__addbutton/profile__addbutton.css);
@import url(./__name/profile__name.css);
@import url(./__editbutton/profile__editbutton.css);
@import url(./__text/profile__text.css);
.profile
{
  margin: 0 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px)
{
  .profile
  {
  margin: 0 100px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }
}

