.popup__close-button
{
  transform: rotate(-45deg);
  position: absolute;
  left: 100%;
  top: -12%;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: unset;
}


@media screen and (max-width: 550px)
{
  .popup__close-button
  {
    left: 93%;
    top: -13%;
  }
}
@media screen and (max-width: 375px)
{
  .popup__close-button
  {
    left: 85%;
  }
}
