.button
{
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.7s ease-out;
}
.button:hover
{
  opacity: 0.6;
}
.button:active,
.button:hover,
.button:focus {
outline: none;
}
